body{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.45);
    transform-origin: top;
    padding: 0px;
}
h2 {
    text-align:left;
    font-weight:bolder;
    width: 60%;
}
.section {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
.left {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-right: auto;

}
.right {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    
}
.form-input {
    width: 250px;
    background-color: #ffeef6;
    border: 1px solid;
    border-color: black;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 3px;
}
form {
    display: flex;
    flex-direction: column;
}
textarea {
    resize: none;
}
label {
    font-size: x-small;
}
.button {
    height: 30px;
    width: 90px;
    background-color: #020e35;
    color: #ffffff;
    font-size: x-small;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.red-line {
    background: linear-gradient(to top, #ff5678 50%, #ffffff 50%);
    
}
.background-bubble {
    width: 350px;
    height: 290px;
    background-color: #ffeef6;
    border-radius: 45%;
}
