body{
    margin: 0;
    font-family: "Merriweather";
}

h2 {
    text-align:left;
    font-weight: 700px;
    font-size: 54px;
    line-height: 72px;
    
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 670px;
    padding: 100px 150px;
}

.form-input {
    width: 656px;
    height: 70px;
    background-color: #ffeef6;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 35px;
    font-family: "Merriweather";
}

.button {
    height: 71px;
    width: 185px;
    background-color: #020e35;
    color: #ffffff;
    font-size: 18px;
    border:none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: "Merriweather";
}

.red-line {
    background: linear-gradient(to top, #ff5678 42%, #ffffff 42%);  
}

.background-bubble {
    width: 780px;
    height: 670px;
    background-color: #ffeef6;
    border-radius: 45%;
}

.container {
    flex-direction: column;
}

.base-font {
    display: inline-block;
    width: 53px;
    height: 23px;
    font-weight: 400;
}
/*/////Craft Experiences/////*/
  
#left_craft {
    width: 664px;
    height: 503px;
}

#pcraft {
    width: 481px;
    height: 96px;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 40px;
}

#craft_img {
    height: 670px;
    width: 780px;
    border-radius: 1000px;
    opacity: 0.8;
    padding: 4px;
}
/*/////Contact Us/////*/

#right_contact {
display: flex;
align-items: left;
width: 656px;
height: 904px;
flex-direction: column;
}

.form-input1 {
    width: 656px;
    height: 200px;
    background-color: #ffeef6;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 35px;
    font-family: "Merriweather";
}

textarea {
    resize: none;
}
/*/////NewsLetter/////*/
#left_NewsLetter {
    width: 627px;
    height: 621px;
}